<h3>Add New List></h3>

<form action="/lists" method="post">
  <div class="form_group">
  <label class="form-label" for="name">Assign a name to your list:</label>
  <input class="form_control" id="name" name="name" type="text" placeholder="List Mame" autofocus>
  <button type="submit" class="button btn">Add List</button>
</form>
